<div class="p-3 mb-3 bg-dark text-white rounded">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt,
        dui sed pulvinar auctor, arcu lorem faucibus massa, sodales luctus nisi
        nisi consectetur velit. Vestibulum eleifend laoreet congue.
    </p>
    <p>
        Aliquam bibendum
        dolor arcu, quis tristique metus consectetur eget. Aliquam ut lacus lectus.
        Fusce molestie faucibus quam, in dapibus risus tincidunt et. Praesent lobortis
        mollis justo eget aliquet. Maecenas pretium elementum molestie.
    </p>
    <p class="mb-0">
        Mauris venenatis
        accumsan libero eu rhoncus. Ut rhoncus, lectus et aliquet pulvinar, est ligula
        aliquam eros, non dapibus risus odio sit amet mi. Aliquam erat volutpat. Donec
        vitae maximus magna, nec aliquet arcu.
    </p>
</div>

<p class="">
    Cras <strong>scelerisque lobortis velit</strong>, a imperdiet quam facilisis eget.
    Nullam pellentesque felis sit amet purus pharetra luctus.
    Vivamus eleifend commodo dolor, <strong>quis aliquam odio porta non</strong>.
    Quisque at egestas nibh, et dignissim enim. Aenean id eros enim.
</p>

<a href="{{ path('app_comments') }}" class="btn btn-warning btn-lg">Comentarios</a>